{% if cookiecutter.enable_packagecloud | lower == 'yes' %}
[[source]]
# Please don't reuse the read token below in other projects. Generate a new one.
url = "https://{{cookiecutter.packagecloud_read_token}}:@packagecloud.io/{{cookiecutter.packagecloud_repo}}/pypi/simple"
verify_ssl = true
name = "packagecloud"

{% endif %}
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"e1839a8" = {editable = true, path = "."}

[requires]
